<?xml version="1.0"?>
<launch>
    <param name="/use_sim_time" value="true" />
    
    <!-- params -->
    <rosparam file="$(find block_localization)/config/params.yaml" command="load" />

    <!-- nodelet -->
    <node pkg="block_localization" type="main" name="main" output="screen" />

</launch>
